<lib-input inputStyle="search" placeholder="search by reference" [customInputStyle]="{'width': '300px'}"></lib-input>
<br>
<lib-button buttonStyle="add" label="Ajouter un utilisateur"></lib-button>
<lib-input inputStyle="file" [customInputStyle]="{'width': '300px'}"></lib-input>
<lib-input inputStyle="contact" label="prénom"label="Name"></lib-input>
<lib-input inputStyle="textarea" label="Comments"></lib-input>
<lib-input inputStyle="firstname" placeholder="Enter your firstname" label="First Name"></lib-input>
<lib-input inputStyle="lastname" placeholder="Enter your lastname" label="Last Name"></lib-input>
<lib-input inputStyle="email" placeholder="Enter your email" label="Email"></lib-input>
<lib-input inputStyle="password" placeholder="Enter your password" label="Password"></lib-input>
<lib-input inputStyle="socialnumber" placeholder="Enter your social number" label="Social Number"></lib-input>
<lib-input inputStyle="address" placeholder="Enter your address" label="Address"></lib-input>
<lib-input inputStyle="phone" placeholder="Enter your phone number" label="Phone"></lib-input>
<lib-input inputStyle="mosque" placeholder="Enter your mosque name" label="Mosque"></lib-input>
<router-outlet></router-outlet>